<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome to BlackJack Odds</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-custom" id="motivation-nav-bar">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="welcome" class="nav-item nav-link">Home</a>
                    <a href="members" class="nav-item nav-link">Members</a>
                    <a href="motivation" class="nav-item nav-link">Motivation</a>
                    <a href="odds" class="nav-item nav-link">Start Odds</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="login" class="nav-item nav-link active">Login</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron" id="motivation-jumbotron">
            <form action="" method="post">
				<label for="username">
				</label>
				<input type="text" name="username" placeholder="Username" id="username" value="{{
                    request.form.username }}" required>
				<label for="password">
				</label>
				<input type="password" name="password" placeholder="Password" id="password" value="{{
                    request.form.password }}" required>
                <br>
                <br>
                <input type="submit" value="Login">
                <br>
                <br>
                <p>New member? <a href="register" class="nav-item nav-link">Register</a></p>
            </form>
            {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
            {% endif%}
        </div>
    </div>

</body>
</html>